.header__title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 24px;
  }
  
.header__subtitle {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}